{
    "swagger": "2.0",
    "info": {
        "description": "REST API for the CareToSher care-giving collaboration platform. All routes require a Cognito JWT except POST /user.",
        "title": "CareToSher API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.caretosher.com",
    "basePath": "/",
    "paths": {
        "/event": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "events"
                ],
                "summary": "Create a care event for a receiver",
                "parameters": [
                    {
                        "description": "Event details. startTime and endTime must be RFC3339. type must match a valid event config.",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handlers.ReceiverEventRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/handlers.ReceiverEventResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/event/{eventId}": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "events"
                ],
                "summary": "Delete a care event",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Event ID (format: Event#\u003cuuid\u003e)",
                        "name": "eventId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Receiver ID (format: Receiver#\u003cuuid\u003e)",
                        "name": "receiverId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID of the requesting user (format: User#\u003cuuid\u003e)",
                        "name": "userId",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/events/configs": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "events"
                ],
                "summary": "Get all available event type configurations",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/event.EventConfig"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/events/{receiverId}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "events"
                ],
                "summary": "Get all care events for a receiver",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Receiver ID (format: Receiver#\u003cuuid\u003e)",
                        "name": "receiverId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID of the requesting user (format: User#\u003cuuid\u003e)",
                        "name": "userId",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start of time range (RFC3339). Must be provided with endTime.",
                        "name": "startTime",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End of time range (RFC3339). Must be provided with startTime.",
                        "name": "endTime",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/event.Entry"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/receiver/care-givers/{receiverId}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "receivers"
                ],
                "summary": "Get all caregivers for a receiver",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Receiver ID (format: Receiver#\u003cuuid\u003e)",
                        "name": "receiverId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID of the requesting user (format: User#\u003cuuid\u003e)",
                        "name": "userId",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/handlers.GetReceiverCareGiversResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/receiver/{receiverId}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "receivers"
                ],
                "summary": "Get a receiver by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Receiver ID (format: Receiver#\u003cuuid\u003e)",
                        "name": "receiverId",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "ID of the requesting user (format: User#\u003cuuid\u003e)",
                        "name": "userId",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/receiver.Receiver"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/user": {
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Create a new user account",
                "parameters": [
                    {
                        "description": "User details",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handlers.CreateUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/handlers.CreateUserResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/user/additional-receiver": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "users"
                ],
                "summary": "Add an additional caregiver to an existing receiver (requester must be the primary caregiver)",
                "parameters": [
                    {
                        "description": "User ID, receiver ID, and email of the caregiver to add",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handlers.AdditionalReceiverRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/user/primary-receiver": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "users"
                ],
                "summary": "Add a primary receiver for a user (creates the receiver and a primary caregiver relationship)",
                "parameters": [
                    {
                        "description": "User and receiver details",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/handlers.PrimaryReceiverRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/handlers.PrimaryReceiverResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/user/relationships/{userId}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "users"
                ],
                "summary": "Get all receiver relationships for a user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User ID (format: User#\u003cuuid\u003e)",
                        "name": "userId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/handlers.GetUserRelationshipsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/user/{userId}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "tags": [
                    "users"
                ],
                "summary": "Get a user by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User ID (format: User#\u003cuuid\u003e)",
                        "name": "userId",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user.User"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "event.AlertThresholds": {
            "type": "object",
            "properties": {
                "critical": {
                    "type": "integer"
                },
                "red": {
                    "type": "integer"
                },
                "yellow": {
                    "type": "integer"
                }
            }
        },
        "event.ColorConfig": {
            "type": "object",
            "properties": {
                "primary": {
                    "type": "string"
                },
                "secondary": {
                    "type": "string"
                }
            }
        },
        "event.DataConfig": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "unit": {
                    "type": "string"
                }
            }
        },
        "event.DataPoint": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "value": {}
            }
        },
        "event.Entry": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/event.DataPoint"
                    }
                },
                "endTime": {
                    "type": "string"
                },
                "eventId": {
                    "type": "string"
                },
                "note": {
                    "type": "string"
                },
                "receiverId": {
                    "type": "string"
                },
                "startTime": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "event.EventConfig": {
            "type": "object",
            "properties": {
                "color": {
                    "$ref": "#/definitions/event.ColorConfig"
                },
                "data": {
                    "$ref": "#/definitions/event.DataConfig"
                },
                "fields": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/event.FieldConfig"
                    }
                },
                "graph": {
                    "$ref": "#/definitions/event.GraphConfig"
                },
                "hasQuickAdd": {
                    "type": "boolean"
                },
                "icon": {
                    "type": "string"
                },
                "monitor": {
                    "$ref": "#/definitions/event.MonitorConfig"
                },
                "type": {
                    "type": "string"
                },
                "upcoming": {
                    "$ref": "#/definitions/event.UpcomingConfig"
                }
            }
        },
        "event.FieldConfig": {
            "type": "object",
            "properties": {
                "inputType": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "placeholder": {
                    "type": "string"
                },
                "required": {
                    "type": "boolean"
                }
            }
        },
        "event.GraphConfig": {
            "type": "object",
            "properties": {
                "title": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "event.MonitorConfig": {
            "type": "object",
            "properties": {
                "alertThresholds": {
                    "$ref": "#/definitions/event.AlertThresholds"
                },
                "showLastValue": {
                    "type": "boolean"
                }
            }
        },
        "event.UpcomingConfig": {
            "type": "object",
            "properties": {
                "lookAheadDays": {
                    "type": "integer"
                },
                "show": {
                    "type": "boolean"
                }
            }
        },
        "handlers.AdditionalReceiverRequest": {
            "type": "object",
            "required": [
                "email",
                "receiverId",
                "userId"
            ],
            "properties": {
                "email": {
                    "type": "string"
                },
                "receiverId": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "handlers.CareGiverResponse": {
            "type": "object",
            "properties": {
                "firstName": {
                    "type": "string"
                },
                "isPrimary": {
                    "type": "boolean"
                },
                "lastName": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "handlers.CreateUserRequest": {
            "type": "object",
            "required": [
                "email",
                "firstName",
                "lastName"
            ],
            "properties": {
                "email": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                }
            }
        },
        "handlers.CreateUserResponse": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "handlers.GetReceiverCareGiversResponse": {
            "type": "object",
            "properties": {
                "careGivers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/handlers.CareGiverResponse"
                    }
                }
            }
        },
        "handlers.GetUserRelationshipsResponse": {
            "type": "object",
            "properties": {
                "relationships": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/relationship.Relationship"
                    }
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "handlers.PrimaryReceiverRequest": {
            "type": "object",
            "required": [
                "firstName",
                "lastName",
                "userId"
            ],
            "properties": {
                "firstName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "handlers.PrimaryReceiverResponse": {
            "type": "object",
            "properties": {
                "receiverId": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "handlers.ReceiverEventRequest": {
            "type": "object",
            "required": [
                "endTime",
                "receiverId",
                "startTime",
                "type",
                "userId"
            ],
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/event.DataPoint"
                    }
                },
                "endTime": {
                    "type": "string"
                },
                "note": {
                    "type": "string"
                },
                "receiverId": {
                    "type": "string"
                },
                "startTime": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "handlers.ReceiverEventResponse": {
            "type": "object",
            "properties": {
                "eventId": {
                    "type": "string"
                },
                "receiverId": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "receiver.Receiver": {
            "type": "object",
            "properties": {
                "firstName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "receiverId": {
                    "type": "string"
                }
            }
        },
        "relationship.Relationship": {
            "type": "object",
            "properties": {
                "emailNotifications": {
                    "type": "boolean"
                },
                "primaryCareGiver": {
                    "type": "boolean"
                },
                "receiverId": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "user.User": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "BearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}